/* body {
    color: #fff;
    background-color: #11A27B;
    /* font-size: 40px; */


  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stButton>button {
    color: #11A27B;
    box-sizing: border-box;
    font-size:30px;
    border: 5px solid;
    border-radius: 25px;
    padding: 30px;
    text-align: center;
    width: 90%;  
    height: auto;  
    white-space: normal;
}

.stTextInput>div>div>input {
    color: #000000;
}